

// Colors
$midnight:  #191A1D;
$shark:     #292B31;
$tuna:      #33363D;
$mako:      #444857;
$pearl:     #ADAFBC;
$concrete:  #F2F2F2;
$coral:     #FB7D44;
$boston:    #2A92BF;
$sun:       #F4CE46;
$fern:      #00B961;
$crimson:   #DF2436;
$razzle:    #F24BD6;

